:root {
    --color-bg: oklch(0.9049 0.0231 252.18);
    --color-text: oklch(0.3134 0.0592 260.17);
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    background-color: var(--color-bg);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.app {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qr {
    width: 320px;
    display: flex;
    flex-direction: column;
    padding: 16px 16px 40px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.qr__image {
    border-radius: 10px;
    overflow: hidden;
}

.qr__title {
    margin: 24px 0 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-text);
}

.qr__text {
    margin: 16px 0 0;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: .2px;
    color: #68778D;   
}